backend/step-functions/transcription-workflow-with-error-handling.json
{
  "Comment": "ChordScout Music Transcription Workflow with Error Handling",
  "StartAt": "CheckInputType",
  "States": {
    "CheckInputType": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.youtubeUrl",
          "IsPresent": true,
          "Next": "DownloadYouTubeAudio"
        }
      ],
      "Default": "TranscribeLyrics"
    },
    "DownloadYouTubeAudio": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:090130568474:function:chordscout-youtube-downloader-dev",
      "ResultPath": "$.download",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "HandleDownloadError",
          "ResultPath": "$.error"
        }
      ],
      "Next": "CheckDownloadSuccess"
    },
    "CheckDownloadSuccess": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.download.statusCode",
          "NumericEquals": 200,
          "Next": "PrepareTranscribeInput"
        }
      ],
      "Default": "HandleDownloadError"
    },
    "PrepareTranscribeInput": {
      "Type": "Pass",
      "Parameters": {
        "jobId.$": "$.jobId",
        "bucket.$": "$.download.body.bucket",
        "key.$": "$.download.body.key",
        "title.$": "$.title",
        "userId.$": "$.userId"
      },
      "Next": "TranscribeLyrics"
    },
    "HandleDownloadError": {
      "Type": "Pass",
      "Parameters": {
        "jobId.$": "$.jobId",
        "status": "FAILED",
        "error.$": "$.download.body.error",
        "message": "Failed to download audio from YouTube. The video may be unavailable, private, or region-restricted."
      },
      "End": true
    },
    "TranscribeLyrics": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:090130568474:function:chordscout-whisper-transcribe-dev",
      "ResultPath": "$.transcription",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "HandleTranscriptionError",
          "ResultPath": "$.error"
        }
      ],
      "Next": "PrepareSheetMusicInput"
    },
    "HandleTranscriptionError": {
      "Type": "Pass",
      "Parameters": {
        "jobId.$": "$.jobId",
        "status": "FAILED",
        "error": "Failed to transcribe audio",
        "message": "An error occurred during audio transcription."
      },
      "End": true
    },
    "PrepareSheetMusicInput": {
      "Type": "Pass",
      "Parameters": {
        "jobId.$": "$.jobId",
        "lyrics.$": "$.transcription.body",
        "title.$": "$.title"
      },
      "Next": "GenerateSheetMusic"
    },
    "GenerateSheetMusic": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:090130568474:function:chordscout-sheet-music-dev",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "HandleSheetMusicError",
          "ResultPath": "$.error"
        }
      ],
      "End": true
    },
    "HandleSheetMusicError": {
      "Type": "Pass",
      "Parameters": {
        "jobId.$": "$.jobId",
        "status": "FAILED",
        "error": "Failed to generate sheet music",
        "message": "An error occurred during sheet music generation."
      },
      "End": true
    }
  }
}