backend/step-functions/transcription-workflow-with-error-handling.json
{
  "Comment": "ChordScout Music Transcription Workflow with Error Handling",
  "StartAt": "UpdateJobProcessing",
  "States": {
    "UpdateJobProcessing": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:updateItem",
      "Parameters": {
        "TableName": "ChordScout-TranscriptionJobs-dev",
        "Key": {
          "id": {
            "S.$": "$.jobId"
          }
        },
        "UpdateExpression": "SET #status = :status, #currentStep = :step, #progress = :progress, #updatedAt = :updatedAt",
        "ExpressionAttributeNames": {
          "#status": "status",
          "#currentStep": "currentStep",
          "#progress": "progress",
          "#updatedAt": "updatedAt"
        },
        "ExpressionAttributeValues": {
          ":status": {
            "S": "PROCESSING"
          },
          ":step": {
            "S": "Starting transcription"
          },
          ":progress": {
            "N": "5"
          },
          ":updatedAt": {
            "S.$": "$$.State.EnteredTime"
          }
        }
      },
      "ResultPath": "$.updateResult",
      "Next": "CheckInputType",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "UpdateJobFailed"
        }
      ]
    },
    "CheckInputType": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.youtubeUrl",
          "IsPresent": true,
          "Next": "UpdateJobDownloading"
        }
      ],
      "Default": "UpdateJobTranscribing"
    },
    "UpdateJobDownloading": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:updateItem",
      "Parameters": {
        "TableName": "ChordScout-TranscriptionJobs-dev",
        "Key": {
          "id": {
            "S.$": "$.jobId"
          }
        },
        "UpdateExpression": "SET #currentStep = :step, #progress = :progress, #updatedAt = :updatedAt",
        "ExpressionAttributeNames": {
          "#currentStep": "currentStep",
          "#progress": "progress",
          "#updatedAt": "updatedAt"
        },
        "ExpressionAttributeValues": {
          ":step": {
            "S": "Downloading audio from YouTube"
          },
          ":progress": {
            "N": "10"
          },
          ":updatedAt": {
            "S.$": "$$.State.EnteredTime"
          }
        }
      },
      "ResultPath": "$.updateResult",
      "Next": "DownloadYouTubeAudio"
    },
    "DownloadYouTubeAudio": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:090130568474:function:chordscout-youtube-downloader-dev",
      "ResultPath": "$.download",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "HandleDownloadError",
          "ResultPath": "$.error"
        }
      ],
      "Next": "CheckDownloadSuccess"
    },
    "CheckDownloadSuccess": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.download.statusCode",
          "NumericEquals": 200,
          "Next": "PrepareTranscribeInput"
        }
      ],
      "Default": "HandleDownloadError"
    },
    "PrepareTranscribeInput": {
      "Type": "Pass",
      "Parameters": {
        "jobId.$": "$.jobId",
        "bucket.$": "$.download.body.bucket",
        "key.$": "$.download.body.key",
        "title.$": "$.title",
        "userId.$": "$.userId"
      },
      "Next": "UpdateJobTranscribing"
    },
    "HandleDownloadError": {
      "Type": "Pass",
      "Parameters": {
        "jobId.$": "$.jobId",
        "status": "FAILED",
        "error.$": "$.download.body.error",
        "message": "Failed to download audio from YouTube. The video may be unavailable, private, or region-restricted."
      },
      "Next": "UpdateJobFailed"
    },
    "UpdateJobTranscribing": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:updateItem",
      "Parameters": {
        "TableName": "ChordScout-TranscriptionJobs-dev",
        "Key": {
          "id": {
            "S.$": "$.jobId"
          }
        },
        "UpdateExpression": "SET #currentStep = :step, #progress = :progress, #updatedAt = :updatedAt",
        "ExpressionAttributeNames": {
          "#currentStep": "currentStep",
          "#progress": "progress",
          "#updatedAt": "updatedAt"
        },
        "ExpressionAttributeValues": {
          ":step": {
            "S": "Transcribing audio with AI"
          },
          ":progress": {
            "N": "40"
          },
          ":updatedAt": {
            "S.$": "$$.State.EnteredTime"
          }
        }
      },
      "ResultPath": "$.updateResult",
      "Next": "TranscribeLyrics"
    },
    "TranscribeLyrics": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:090130568474:function:chordscout-whisper-transcribe-dev",
      "ResultPath": "$.transcription",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "HandleTranscriptionError",
          "ResultPath": "$.error"
        }
      ],
      "Next": "PrepareSheetMusicInput"
    },
    "HandleTranscriptionError": {
      "Type": "Pass",
      "Parameters": {
        "jobId.$": "$.jobId",
        "status": "FAILED",
        "error": "Failed to transcribe audio",
        "message": "An error occurred during audio transcription."
      },
      "Next": "UpdateJobFailed"
    },
    "PrepareSheetMusicInput": {
      "Type": "Pass",
      "Parameters": {
        "jobId.$": "$.jobId",
        "lyrics.$": "$.transcription.body",
        "title.$": "$.title"
      },
      "Next": "UpdateJobGeneratingMusic"
    },
    "UpdateJobGeneratingMusic": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:updateItem",
      "Parameters": {
        "TableName": "ChordScout-TranscriptionJobs-dev",
        "Key": {
          "id": {
            "S.$": "$.jobId"
          }
        },
        "UpdateExpression": "SET #currentStep = :step, #progress = :progress, #updatedAt = :updatedAt",
        "ExpressionAttributeNames": {
          "#currentStep": "currentStep",
          "#progress": "progress",
          "#updatedAt": "updatedAt"
        },
        "ExpressionAttributeValues": {
          ":step": {
            "S": "Generating sheet music"
          },
          ":progress": {
            "N": "80"
          },
          ":updatedAt": {
            "S.$": "$$.State.EnteredTime"
          }
        }
      },
      "ResultPath": "$.updateResult",
      "Next": "GenerateSheetMusic"
    },
    "GenerateSheetMusic": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:090130568474:function:chordscout-sheet-music-dev",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "HandleSheetMusicError",
          "ResultPath": "$.error"
        }
      ],
      "Next": "UpdateJobCompleted"
    },
    "HandleSheetMusicError": {
      "Type": "Pass",
      "Parameters": {
        "jobId.$": "$.jobId",
        "status": "FAILED",
        "error": "Failed to generate sheet music",
        "message": "An error occurred during sheet music generation."
      },
      "Next": "UpdateJobFailed"
    },
    "UpdateJobCompleted": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:updateItem",
      "Parameters": {
        "TableName": "ChordScout-TranscriptionJobs-dev",
        "Key": {
          "id": {
            "S.$": "$.jobId"
          }
        },
        "UpdateExpression": "SET #status = :status, #currentStep = :step, #progress = :progress, #updatedAt = :updatedAt",
        "ExpressionAttributeNames": {
          "#status": "status",
          "#currentStep": "currentStep",
          "#progress": "progress",
          "#updatedAt": "updatedAt"
        },
        "ExpressionAttributeValues": {
          ":status": {
            "S": "COMPLETED"
          },
          ":step": {
            "S": "Completed"
          },
          ":progress": {
            "N": "100"
          },
          ":updatedAt": {
            "S.$": "$$.State.EnteredTime"
          }
        }
      },
      "End": true
    },
    "UpdateJobFailed": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:updateItem",
      "Parameters": {
        "TableName": "ChordScout-TranscriptionJobs-dev",
        "Key": {
          "id": {
            "S.$": "$.jobId"
          }
        },
        "UpdateExpression": "SET #status = :status, #currentStep = :step, #progress = :progress, #updatedAt = :updatedAt, #error = :error",
        "ExpressionAttributeNames": {
          "#status": "status",
          "#currentStep": "currentStep",
          "#progress": "progress",
          "#updatedAt": "updatedAt",
          "#error": "error"
        },
        "ExpressionAttributeValues": {
          ":status": {
            "S": "FAILED"
          },
          ":step": {
            "S": "Failed"
          },
          ":progress": {
            "N": "0"
          },
          ":updatedAt": {
            "S.$": "$$.State.EnteredTime"
          },
          ":error": {
            "S.$": "$.error"
          }
        }
      },
      "End": true
    }
  }
}